<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPsAQiNzy2YDuKI55HbMUvkibGBHXkmLM</string>
	<key>GCM_SENDER_ID</key>
	<string>38762742901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itvo.sales</string>
	<key>PROJECT_ID</key>
	<string>sales-2b3da</string>
	<key>STORAGE_BUCKET</key>
	<string>sales-2b3da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38762742901:ios:aa7f78f68a48e815f5a43c</string>
</dict>
</plist>